<h2 class="text-center mt-5">Cart</h2>
<% if current_order.status == "ordered" || @items.empty? %>
  <div class="text-center">
    <%= image_tag "https://cdn.onlinewebfonts.com/svg/img_456359.png", class: "img-fluid w-50" %>
    <h4 class="pt-4">Cart is empty</h4>
  </div>
<% else %>
  <div id="cart">
    <% @items.each do |item| %>
      <%= render 'order_items/order_item', item: item %>
    <% end %>
  </div>
  <div class="confirm">
    <%= render 'total_order_price' %>
    <%= link_to "Confirm order", order_complete_path, class: "btn btn-outline-success btn-lg ml-4" if @items.present? %>
  </div>
<% end %>