<div class="container text-center">
  <h1 class="m-5">Thank you for ordering</h1>
  <p>We will contact you)</p>
  <%= image_tag "https://upload.wikimedia.org/wikipedia/en/9/9a/Trollface_non-free.png" %>
</div>
