// Place all the styles related to the Products controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card {
  .card-title {
    min-height: 45px;
    font-size: 1.1em;
  }
  .card-text {
    min-height: 70px;
    font-size: 0.8em;
  }
  &:hover {
    box-shadow: 4px 8px 8px 4px rgba(34, 60, 80, 0.2);
    transform: scale(1.05);
    z-index: 1;
    transition: all 0.15s ease-out;
  }
}