<div class="row">
  <div class="dropdown">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
       data-toggle="dropdown" aria-expanded="false">
      sort
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to 'Expensive first', products_path(sort: 'expensive'), class:'dropdown-item' %>
      <%= link_to 'Cheapest first', products_path(sort: 'cheapest'), class:'dropdown-item' %>
    </div>
  </div>
  <%= render @products %>
  <%= will_paginate @products, class: "pagination" %>
</div>