<footer class="footer mt-auto text-center py-3">
  <div class="container">
    <ul class="list-unstyled d-inline-flex">
      <li>
        <%= link_to "About", page_path(page: 'about'), class: "nav-link" %>
      </li>
      <li>
        <%= link_to "Shipping", page_path(page: 'shipping'), class: "nav-link" %>
      </li>
      <li>
        <%= link_to "Warranty", page_path(page: 'warranty'), class: "nav-link" %>
      </li>
    </ul>
    <span class="text-muted">DRUMSHOP. All rights reserved</span>
  </div>
</footer>